In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "age": [25, 30, 35, 40, 28],
    "city": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"],
}

In [4]:
dp = pd.DataFrame(data)

In [5]:
dp

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   28      Phoenix

In [6]:
dp.to_csv("people.csv", index=False)

In [7]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes